<html>

  <head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>

<div class="main-content">

    {{>header}}
    <img class="img-robo" src="/img/robo.jpg" alt="robo-image Dude" />

</div>


    {{>footer}}
  </body>

</html>